@model IEnumerable<EmpAppCoreEF_Self.Models.EmployeeModel>

@{
    ViewData["Title"] = "Employee List";
}

<h3>Employee List</h3>

<div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <a asp-action="Create" class="btn btn-primary" id="btnCreateNew">Create New</a>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table id="tblEmpData" class="table-responsive table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Qualification</th>
                            <th>Contact Number</th>
                            <th>Department Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qualification)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DepartmentModel.DeptName)
                                </td>
                                <td>
                                    <a class="glyphicon glyphicon-edit" asp-action="Create" asp-route-id="@item.EmpId"></a>
                                    |
                                    <a class="glyphicon glyphicon-remove" asp-action="Delete" asp-route-id="@item.EmpId" onclick="return confirm('Are sure wants to delete?');"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



